@font-face {
  font-family: "Header";
  src: url("/public/assets/fonts/Louis George Cafe Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Header";
  src: url("/public/assets/fonts/Louis George Cafe Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}