@import '../../../styles';

.About {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem;
  
  &__contentWrapper {
    border: 3px solid $primary;
    border-radius: 0.5rem;
    max-width: 1065px;
  }

  &__contentHeader {
    @include flex-row-center;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
  }

  &__contentBody {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    
  }

  &__avatar {
    width: 30%;
    margin-right: 0.8rem;
  }

  &__title {
    font-family: 'Header';
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
  }

  &__subtitle {
    font-family: 'Header';
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }

  &__bio {
    text-align: center;
    margin: 1rem 0;
    padding: 0.75rem;
  }

  &__grid {
    position: relative;
    width: 100%;
    line-height: 1;
    font-size: 1rem;
    
    
    &__row {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: stretch;
      height: 400px;
      width: 100%;
      box-sizing: border-box;

      > * {
        flex: 1 1 0;
      }

      &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &__imageBlock {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;

      :global(img) {
        height: 100%;
        width: auto;
      }
    }

    &__textBlock {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      color: $light;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      text-align: center;

      &__wrapper {
        padding: 3em;
      }
    }
  }

  @media (max-width: 700px) {
    padding: 2.5rem;
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 1.5rem;
    }
    &__contentBody {
      font-size: 1rem;
    }
    &__grid {
      max-width: 745px;
      
      &__row {
        height: 300px;
  
        > * {
          flex: 1 1 0;
        }
      }
    }
  }
  
  @media screen and (max-width: 450px) {
    padding: 1.5rem;
    &__avatar {
      width: 25%;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__subtitle {
      font-size: 1.25rem;
    }
    &__contentBody {
      font-size: 1rem;
    }
    &__grid {
      max-width: 745px;
      
      &__row {
        height: 250px;
  
        > * {
          flex: 1 1 0;
        }
      }
    }
  }
}
