@import '../styles';

.App {
  text-align: center;

  &__body {
    overflow: auto;
    padding-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
  }
  &__transitionGroup {
    height: 100%;
  }
}

