@import '../../../styles';

.Projects {
  padding: 4rem;
  -moz-column-count: auto;
  column-count: auto;
  -moz-column-width: 400px;
  column-width: 400px;

  > * {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 1rem;
  }

  &__previewContainer {
    position: relative;
    padding: 0.75rem;
  }

  :global(.MiniForceGraph__wrapper) {
    height: 300px;
  }

  @media (max-width: 700px) {
    padding: 2rem;
  }
}