@import './styles';

@font-face {
  font-family: "Text-Body-Light";
  src: url("/public/assets/fonts/Louis George Cafe Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Text-Body-Bold";
  src: url("/public/assets/fonts/Louis George Cafe Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.EZDrawer {
  .EZDrawer__container,
  .EZDrawer__overlay {
    margin-top: $navbar-height;
    height: calc(100% - $navbar-height)
  }
}
